.backgroundImage {
    background-image: url('C:\Users\dinak\OneDrive\Bureau\Projets perso\Hackathons\PolyHacks 2024\PolyHacks2024\public\background.png');
    background-size: cover;
    background-position: center;
}

