.backgroundImage {
    /* Ajoutez le chemin de votre image en tant que fond */
    background-image: url('C:\Users\dinak\OneDrive\Bureau\Projets perso\Hackathons\PolyHacks 2024\PolyHacks2024\public\background.png');
  
    /* Ajustez les propriétés suivantes selon vos besoins */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
  }

.gettingStarted {
    bottom: 0;
}
  